.about__paragraph{
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.8rem;
    font-size: 0.8rem;
    }

    
    .about__paragraph p{
 
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .top-section{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 2rem;
      }

      .left__about{
        flex: 1;
      }
    
     
      .right__about img{
        
        max-width: 430px;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .about__subheading{
        font-size: 1rem;
        margin-bottom: 2rem;
        span{
            background-color: #811b1b;
        }
      }
      .about__heading{
        font-size: 2.2rem;
      }
      .span_sub{
        font-weight: bold;
      }
      .container__about{
        margin-right: 2rem;
      }


    
      .right__about img{
        border: 2px solid #d3c8c8;
        border-radius: 2rem;
      }
      .my__skills{
        margin-top: 10rem;
      }
      @media(max-width:898px){
        .top-section{
          flex-direction: column;
          gap: 5rem;
        }
      }


      .about_button button{
        border-radius: 10px;
        background:none;
        box-shadow: 3px 14px 12px 0px rgba(155, 89, 45, 0.34);
        height: 66px;
        width: 185px;
        color: #e1e1e1;
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal; 
        font-weight: 400;
        text-align: center;
        cursor: pointer;
         
         }
         .about_button :hover{
             border-color: #FF4D05;
             animation: shake 0.5s ease-in-out;
         }
         .about_button{
             padding-top: 2.3rem;
         }
         
         @keyframes shake {
             0% { transform: translateX(0); }
             10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
             20%, 40%, 60%, 80%, 100% { transform: translateX(5px); }
         }