.myAboutSection{
    padding: 10rem 0 ;
    padding-left: 70px;
    
    

}
.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
.aboutSection__left,
.aboutSection__right{
    flex:1;
}

.aboutSection__right img{
    max-width: 430px;
    height: auto;
    width: 100%;
}
 .sectoion-title {
    text-align: left;
}
#paragraph{
    margin-top: -4rem;
    margin-left: 0;
}
p{
    color: #e1e1e1;
}
.about_button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    
}
@media(max-width: 920px){
    .container{
        display: grid;
    }
    .myAboutSection{
        padding-left: 0px;
        
        
    
    }
}

@media(max-width: 950px){
    .aboutSection__left{
        flex: 4;
    }

    .aboutSection__right{
        flex: 3;
    }

}

@media(max-width: 720px){
    .container{
        text-align: center;
        flex-direction: column;
    }
    .aboutSection__left,
    .aboutSection__right{
        width:100% ;
    }
    .aboutSection__right{
        margin-top: 3rem;
    }
    #paragraph{
        margin: 0 auto;
    }
    .about_button{
    flex-direction: column;
    gap: 0;

}
    .button-wrapper {
        width: 100%;
    }
}
