.about__paragraph{
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.8rem;
    /* color: #e2e2e2; */
    /* text-align: center; */
    font-size: 0.8rem;

    
    }
    .about__paragraph p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .top-section{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 2rem;
      }
      .left__about{
        flex: 1;
      }
      .right__about{
        flex: 1;
      }
     
      .right__about img{
        
        max-width: 430px;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .about__subheading{
        font-size: 1rem;
        margin-bottom: 2rem;
        span{
            background-color: #811b1b;
        }
      }
      .about__heading{
        font-size: 2.2rem;
      }
      .span_sub{
        font-weight: bold;
      }


      /* .about__info{ */
        /* padding: 2rem; */
        /* .about__paragraph{
          max-width: 100%;
        } */
        
      /* } */
      .right__about img{
        border: 2px solid #d3c8c8;
      }
      .my__skills{
        margin-top: 10rem;
        padding-left: 3rem;
      }
      @media(max-width:768px){
        .top-section{
          flex-direction: column;
          gap: 5rem;
        }
      }