/* Keyframes animation for fadeIn effect */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Keyframes animation for rotateIn effect */
  @keyframes rotateIn {
    from {
      transform: rotate(-45deg);
      opacity: 0;
    }
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }
  
  /* Styles for .myAboutSection */
  .myAboutSection {
    padding: 9rem 0;
    padding-left: 70px;
   
  }

  
  /* Styles for .container */
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    
  }
  
  /* Styles for .aboutSection__left and .aboutSection__right */
  .aboutSection__left,
  .aboutSection__right {
    flex: 1;
    animation: rotateIn 1s ease-in-out forwards, fadeIn 1s ease-in-out forwards;
  }
  .aboutSection__right img{
    border-radius: 1rem;
  }
  
  /* Styles for .about__back_cont */



  
  /* Styles for .aboutSection__left .sectionStyle */
  .aboutSection__left .sectionStyle {
    text-align: left;
  }
  
  /* Styles for .aboutSection__right img */
  .aboutSection__right img {
    max-width: 430px;
    height: auto;
    width: 100%;
  }
  
  /* Styles for .sectoion-title */
  .sectoion-title {
    text-align: left;
  }
  
  /* Styles for #paragraph */
  #paragraph {
    margin-top: -4rem;
    margin-left: 0;
  }
  
  /* Styles for p */
  p {
    color: #e1e1e1;
  }
  
  /* Styles for .about_button */
  .about_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 912px) {
    .container {
      display: grid;
      justify-content: center;
    }
    .myAboutSection {
      padding-left: 0px;
    }
    .aboutSection__left .sectionStyle {
      text-align: center;
    }
    .about_button {
      flex-direction: column;
    }
    .button-wrapper {
      width: 100%;
    }
  }
  
  @media (max-width: 750px) {
 
    .about__back_cont {
      width: 99%;
      height: 100%;
      flex-shrink: 0;
      border-radius: 50px 50px;
      border: solid #e1e1e16c;
      padding-right: -3rem;
      box-shadow: 3px 14px 12px 0px rgba(238, 226, 226, 0.34);
      margin-top: 3rem;
      /* align-items: center;  
      text-align: center; */
    }

  }
  
  @media (max-width: 920px) {
    .container {
      text-align: center;
      flex-direction: column;
    }
    .aboutSection__left,
    .aboutSection__right {
      width: 100%;
    }
    .aboutSection__right {
      margin-top: 3rem;
    }
    #paragraph {
      margin: 0 auto;
    }
    .button-wrapper {
      width: 100%;
    }
  }

  
  