.front-button{
    display: flex;
    padding: 8px ;
    align-items: center;
    gap: 10px;
    /* flex-shrink: 0;
    width: 285px;
    height: 66px; */
}
.front button{
    border-radius: 10px;
    /* background: #262222; */
    box-shadow: 3px 14px 12px 0px rgba(238, 226, 226, 0.233);
    height: 66px;
    background: none;
    width: 185px;
    color: #e1e1e1;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    border-color: #e1e1e1;
}


@media(max-width: 920px){
    .front-button button{
    font-size: 1.1rem;
}
.front button{
    width: 8rem;
}
}