/* Center the success-popup */
.success-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #413a3a;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999; /* Ensure it's on top of other elements */
  }
  
  /* Style the "OK" button */
  .success-popup button {
    background-color: #8aa6c5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  .success-popup button:hover {
    background-color: #647069;
  }
  #contactForm{
width: 90%;
  }
  