.mobile__home{
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1.5rem;
    display: none;
    
    

    
}
@media(max-width:  780px){
    .home{

        display: none;
    }
    .mobile__home{
        display: contents;
        gap: 1.5rem;
        align-items: center;
        text-align: center;
        height: 100vh;
        

        
    }
    .first__content {
        color: #db1616;
        width: 100%;
        padding-top: 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .first__content  h1{
            font-size: 3rem;
            
        }

 
    .second_-content img{

        height: auto;
        width: 80%;
        border-radius: 8px;
    }
    .second_-content img {
        border: 2rem;
        border: solid #916b6b9f ;
    }
    .mobile_button button{
       border-radius: 10px;
       background:none;
       box-shadow: 3px 14px 12px 0px rgba(155, 89, 45, 0.34);
       height: 66px;
       width: 185px;
       color: #e1e1e1;
       font-family: Inter;
       font-size: 1.3rem;
       font-style: normal; 
       font-weight: 400;
       text-align: center;
       cursor: pointer;
        
        }
        .mobile_button :hover{
            border-color: #FF4D05;
            animation: shake 0.5s ease-in-out;
        }
        .mobile_button{
            padding-top: 2.3rem;
        }
        
        @keyframes shake {
            0% { transform: translateX(0); }
            10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
            20%, 40%, 60%, 80%, 100% { transform: translateX(5px); }
        }
        
  
}