/* .card img{
    max-width: 100%;
}
.projects-all{
    max-width: 50%;
} */

.projects-all{
    padding: 5rem 0 ;
}
#project{
  /* padding: 5rem; */
}

.container-skills {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4rem;
   
  }

  
  .class-body  h1 {
    font-size: 28px; /* Adjust the font size */
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card {
    padding: 20px;
    text-align: center;
    overflow: hidden;
    max-height: auto;
    gap: 30px;
  }
  
  .card img {
    max-width: 90%;
    width: 90%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgb(53, 49, 45);
    border: solid rgb(110, 103, 110);

  }
  .class-body{
    width: 90%;
    background-color: #000000;
    border-radius: 1rem;
    height: 100px;
    max-width: 300px;
    border: solid rgb(110, 103, 110);
   
  }
  
  .class-body  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
  }
  
 .class-body p {
    font-size: 65%;
    color: #fff6f6;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #888;
  }
  
  .slick-dots li.slick-active button:before {
    color: #dfdfdf;
  }
  .mobile-projects{
    display: none;
  }

  
  @media (max-width:718px){
    .container-skills{
      display: contents;
    }
    .class-body{
      width: 100%;
      max-width: 90%;
    }
    .mobile-projects{
      display: none;
    }
  }




  
  