/* .card img{
    max-width: 100%;
}
.projects-all{
    max-width: 50%;
} */

.projects-all{
    padding: 100rem 0 ;
}

.container-skills {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   
  }
  
  .class-body  h1 {
    font-size: 28px; /* Adjust the font size */
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    overflow: hidden;
    max-height: 500px;
  }
  
  .card img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .class-body{
    width: 90%;
   
  }
  
  .class-body  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
 .class-body p {
    font-size: 14px;
    color: #555;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #888;
  }
  
  .slick-dots li.slick-active button:before {
    color: #333;
  }
  