.scroll {
    width: 122px;
    height: 29px;
    top: 530px;
    left:1278px;
    position: absolute;
}
.follow-w {

    transform: rotate(90deg);

    color: #EEE2E2;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 4.32px;



}
.line{
    width: 75px;
height: 0px;
flex-shrink: 0;
fill: #EEE2E2;
stroke-width: 1px;
stroke: #EEE2E2;




}
.real-line{
    position: absolute;
    left: 23px;
    width: 75px;
top: 110px;
border: 3px;
}
.sgv{
width: 300px;
}
@media(max-width: 920px){
    .follow {
        width: 122px;
        height: 29px;
        top: 350px;
        left:-50px;
        position: absolute;
    }
}