.sectionStyle{
    text-align: center;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-size: 6rem;
margin-top: .05rem;
text-transform: u ;

}

@media ( max-width:768px) {
    p{
        font-size: 1.1rem;
    }
    h2{
        font-size: 3.6rem;
    }
}