.sectionStyle{
    text-align: center;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}
.sectionStyle h2{
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-size: 5rem;
margin-top: -1.10rem;
text-transform: u ;

}

@media ( max-width:768px) {
    p{
        font-size: 1.1rem;
    }
    .sectionStyle h2{
        font-size: 4rem;
    }
}
@media ( max-width:568px){
    .sectionStyle h2{
        font-size: 4rem;
    }
}