.myServices {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100px 20px;
    border: solid #cc2c2c6c;
    padding-right: -3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add a smooth transition effect to both transform and box-shadow */

    /* Original shape and no tilt */
    transform: rotate(0deg);
    box-shadow: none; /* Initially, no box shadow */
}

.myServices:hover {
    /* Tilt effect when hovered */
    transform: rotate(-10deg); /* You can adjust the angle as needed */

    /* Add a glowing border effect */
    box-shadow: 0 0 10px rgba(204, 44, 44, 0.7); /* Adjust the values for the desired glow effect */
    background-color: rgb(56, 43, 40);
    background-image: url(../images/services.gif);
    
}


.services__flex{
    display: flex;
    /* gap: 10rem; */
    justify-content: space-around;
    margin-top: 5rem;
}
.servicesItem__icon .svg-inline--fa {
    width: 3rem;
    font-size: 2rem;
  }
  .servicesItems__title{
    font-size: 2.5rem;
  }
  .sectionStyle {
    font-size: 6rem;
  }
.paragraph{
    margin-top: 2rem;
    background-color: beige;
}

/* .servicesAllItems{
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    margin-top: 5rem;
} */
.allServices{
    padding: 8rem 0;

}
@media(max-width: 780px){
    .services__flex{
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 5rem;
        gap: 5rem;
    }
}