.myServices{
    text-align: center;
    display: flex;
    justify-content: center;

 flex-shrink: 0;
/* background: rgba(75, 67, 67, 0.94); */
border-radius: 100px 20px ;
border: solid #e1e1e16c;
padding-right: -3rem;
/* box-shadow: 3px 14px 12px 0px rgba(238, 226, 226, 0.34); */
/* margin-top: 2rem; */
}

.services__flex{
    display: flex;
    /* gap: 10rem; */
    justify-content: space-around;
    margin-top: 5rem;
}
.servicesItem__icon .svg-inline--fa {
    width: 3rem;
    font-size: 2rem;
  }
  .servicesItems__title{
    font-size: 2.5rem;
  }
  .sectionStyle {
    font-size: 6rem;
  }
.paragraph{
    margin-top: 2rem;
    background-color: beige;
}

/* .servicesAllItems{
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    margin-top: 5rem;
} */
.allServices{
    padding: 8rem 0;

}
@media(max-width: 768px){
    .services__flex{
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 5rem;
        gap: 5rem;
    }
}